<%= form_with model: post do |f| %>

  <%= f.label :"写真", class: 'form-control'%><br>
  <%= f.file_field :post_images, multiple: true, onchange: "loadImage(this);", class: 'form-control' %><br>
  <div class="post_images" style="display: none;">
    <p id="preview"></p>
  </div>

  <%= f.label :"Caption", class: 'form-control'%><br>
  <%= f.text_area :caption, class: 'form-control' %><br>

  <%= f.label :"Hashtags", class: 'form-control' %><br>
  <%= f.text_area :hashbody, class: 'form-control' %><br>

  <%= f.submit 'Post', class:"btn btn-success" %>

<% end %>