<div class="container">
  <div class="row">
    <% posts.each do |post| %>
      <div class="col">
        <%= link_to user_path(post.user) do %>
         <%= image_tag post.user.get_profile_image(50,50) %><br>
        <% end %>
         <%= post.user.name %><%= post.user.userid %><br>
        <%= link_to post_path(post) do %>
         <%= image_tag  post.get_post_image(300,300) %>
         <%= post.caption %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>