<div class="container">
  <div class="row">
    <% posts.each do |post| %>
      <div class="col">
        <%= link_to user_path(post.user) do %>
         <%= image_tag post.user.get_profile_image(50,50) %><br>
        <% end %>
         <%= post.user.name %><%= post.user.userid %><br>
        <%= link_to post_path(post) do %>
          <% post.post_images.each do |post_image| %>
            <%= image_tag post_image.variant(resize_to_limit: [100,100]) %>

            <%= post.caption %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>