<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @post, url: posts_path, method: :post, local: false do |f| %>

        <%= f.label :"投稿カテゴリー", class: 'form-control'%><br>
        <%= f.select :post_category, Post.post_categories_i18n.invert, {}, class: 'form-control' %><br>

        <%= f.label :"カラータイプ", class: 'form-control'%><br>
        <%= f.select :color_type, Post.color_types_i18n.invert, {}, class: 'form-control' %><br>

        <%= f.label :"メイク完成イメージ", class: 'form-control'%><br>
        <%= f.select :makeup_image, Post.makeup_images_i18n.invert, {}, class: 'form-control' %><br>

        <%= f.label :"コスメカテゴリ", class: 'form-control'%><br>
        <%= f.collection_select :main_category, MainCategory.all, :id, :main_category %><br>

        <%= f.collection_select :sub_category, SubCategory.all, :id, :sub_category %><br>

        <%= f.submit 'Post', class:"btn btn-success" %>

      <% end %>
    </div>
  </div>
</div>
<script>
$(document).ready(() => {
  $("#main_category").change(() => {
    $.get({
      url: "/users/sub_categories",
      data: {
        main_category_id: $("#main_category").has("option:selected").val()
      }
    })
  });
})
</script>
