<div class="modal fade user_posts_show_modal_all" id="staticBackdrop<%= post_show.id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel<%= post_show.id%>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable user_posts_show_modal">
      <div class="modal-content user_posts_show_modal_content">
        <div class="modal-header">
          <div class="modal-title" id="staticBackdropLabel<%= post_show.id%>">
            <%= image_tag post_show.user.get_profile_image(100, 100), class: "post_show_user_icon" %>
            <span class="ms-2 post_show_user_name"><%= post_show.user.name %></span>
          </div>
          <div class="edit_or_delete_btn col-md-10">
            <% if post_show.user_id == current_user.id %>
              <!--投稿編集モーダル表示ボタン-->
              <button class="me-1 post_edit_btn" data-bs-target="#exampleModalToggle2-<%= post_show.id%>" data-bs-toggle="modal" data-bs-dismiss="modal">Edit</button>
              <%= link_to "Delete", post_path(post_show), remote: true, method: :delete, class: "ms-2 post_delete_btn" %>
            <% end %>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid post_show">
            <div class="row post_show">
              <div class="col-md-8 post_image">
                <% if post_show.post_images.attached? %>
                  <span class="post_images_count"><i class="fas fa-images"></i>&nbsp;<%= post_show.post_images.size %></span>
                  <% post_show.post_images.find_each do |post_image| %>
                    <%= image_tag post_image, class: "post_image_show" %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-4 post_content">
                <div clas="row mb-2">
                  <div class="col-md-2">
                    <%= image_tag post_show.user.get_profile_image(100,100), class: "post_show_user_icon" %>
                  </div>
                  <div class="col mb-4">
                    <span class="posts_to_user_show"><%= post_show.user.name %></span>
                    <%= post_show.caption %>
                    <% post_show.hashtags.each do |hashtag| %>
                      <%= link_to search_path(content: hashtag.hashname, search_type: "hashtag") do %>
                        <%= hashtag.hashname %>
                      <% end %>
                    <% end %>
                    <% post_show.tags.each do |tag| %>
                      <span class="ai_label"><%= tag.name %></span>
                    <% end %>
                  </div>
                </div>
                <!--コメント数-->
                <div class="row mb-2">
                  <div class="col-md-6 d-flex flex-row post_comments_count">
                    <p>コメント<span class="comment_count mt-1" id="post-comments-counter-<%=post_show.id%>"><%= post_show.post_comments.size %></span>件</p>
                  </div>
                </div>
                <div class="row ps-3">
                <!--コメント一覧-->
                  <div id="post-comments-index-<%=post_show.id%>">
                    <%= render partial: 'public/post_comments/index', collection: post_show.post_comments, as: "comment" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!--いいねボタン-->
          <div class="me-4" id=<%="fav_button-" + post_show.id.to_s %> >
            <%= render 'public/favs/fav_btn', post: post_show %>
          </div>
          <%= render 'public/post_comments/form', post: post_show, comment_new: comment_new %>
      　</div>
      </div>
    </div>
  </div>

  <!--投稿編集モーダル-->
  <div class="modal fade" id="exampleModalToggle2-<%= post_show.id%>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2-<%= post_show.id%>" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered edit_post_modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2-<%= post_show.id%>">Edit Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'public/posts/form', post: post_show %>
        </div>
      </div>
    </div>
  </div>