<div class="conatainer">
  <div class="row">
    <div class="col-md-10">
      <%= image_tag @post.get_post_image(100,100) %>
      <%= @post.caption %>
      <% if @post.user_id == current_user.id %>
        <%= link_to "Edit", edit_post_path(@post) %>
      <% end %>
      <!--ハッシュタグ-->
      <p>
        <strong>Hashtags</strong>
        <%= render_with_hashtags(@post.hashbody) %>
      </p>

      <!--いいねボタン-->
      <div id=<%="fav_button-" + @post.id.to_s %> >
        <%= render 'public/favs/fav_btn', post: @post %>
      </div>

      <!--コメント-->
      <div>
        <p class="post-comments-counter">
          <%= render 'public/post_comments/counter', post: @post %>
        </p>
        <div class="cook-comments-index">
          <%= render 'public/post_comments/index', post: @post %>
        </div>
        <%= render 'public/post_comments/form', post: @post, comment_new: @comment_new %>
      </div>
    </div>
  </div>
</div>
