<div class="container">
  <div class="row">
    <div class="col text-center mb-5">
      <%= search_form_for @q, url: search_user_relationships_path do |f| %>
        <%= f.search_field :name_or_userid_cont, placeholder: "Search Friends...", class:'input-box search_form' %>
        <%= f.button type: "submit", class:"btn" do %>
          <i class="fa-solid fa-magnifying-glass search_btn_icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <%= link_to user_friends_path(current_user) do %>
        <span class= "btn back_to_user">←</span>
      <% end %>
    </div>
    <div class="col">
      <%= render 'public/users/index', users: @results %>
    </div>