<div class="container">
<% rooms.each do |room| %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to room_path(room) do %>
       <div class="container">
          <div class="row pb-3 pt-3 friends_chat">
            <% if room.host_id == current_user.id %>
              <div class="col-md-3">
                <%= image_tag User.find(room.guest_id).get_profile_image(50,50), class: "chat_friends_icon" %>
              </div>
              <div class="col-md-8">
                <div class="row friends_name">
                  <%= User.find(room.guest_id).name %>さん
                </div>
                <div class="row friends_message">
                  <% if room.messages.present? %>
                    <%= Message.find_by(id: room.message_ids.last).content %>
                  <% end %>
                </div>
              </div>
            <% elsif room.guest_id == current_user.id %>
              <div class="col-md-3">
                <%= image_tag User.find(room.host_id).get_profile_image(50,50), class: "chat_friends_icon" %>
              </div>
              <div class="col-md-8">
                <div class="row friends_name">
                  <%= User.find(room.host_id).name %>さん
                </div>
                <div class="row friends_message">
                  <% if room.messages.present? %>
                    <%= Message.find_by(id: room.message_ids.last).content %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>