<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-1">
      <%= link_to :back do %>
        <span class= "btn back_to_user">←</span>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="container">
        <div class="row">
          <div class="col chat_room">
            <ul>
              <% @messages.each do |message| %>
                <% if message.user == current_user %>
                  <li class="message_from_me">
                    <span class="message_from_me_bubble"><%= message.content %></span>
                  </li>
                <% else %>
                  <div class="row message_from_you d-flex flex-row">
                    <div class="col-md_2 message_from_you_user">
                      <% if @room.host_id == current_user.id %>
                        <%= image_tag User.find(@room.guest_id).get_profile_image(30,30), class: "friends_icon" %>
                      <% elsif  @room.guest_id == current_user.id %>
                        <%= image_tag User.find(@room.host_id).get_profile_image(30,30), class: "friends_icon" %>
                      <% end %>
                    </div>
                    <div class="col-md-4 ms-4">
                      <span class="message_from_you_bubble"><%= message.content %></span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row send_dm text-center">
          <div class="col">
            <%= form_with model: @message, url: room_messages_path(@room.id) do |f| %>
              <%= f.text_field :content, placeholder: "  Message...", class: "col-md-6 dm_form" %>
              <%= button_tag type: 'submit', class: 'btn btn-default' do %>
                <i class="fas fa-paper-plane"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>