<div class="col mb-3">
  <div class="row">
    <div class="col-md-2">
      <%= link_to user_path(comment.user) do %>
        <%= image_tag comment.user.get_profile_image(100,100), class: "comment_user_icon" %>
      <% end %>
    </div>
    <div class="col text-left">
      <%= link_to user_path(comment.user) do %>
        <strong class="comment_user_name"><%= comment.user.name %></strong>
      <% end %>
      <span class="comment ms-1 me-4"><%= comment.comment %></span>
      <div class="row">
        <div class="col">
          <span class="comment_date me-2"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
          <% if comment.user == current_user %>
            <%= link_to "Delete", post_post_comment_path(comment.post, comment), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？", class: "comment_delete_btn"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
