<div class="container">
  <div class="row justify-content-center">

      <table class="table table-bordered table-hover">
        <tbody>
          <% @users.find_each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= image_tag user.get_profile_image(50,50), class: "friends_icon" %></td>
                <td><%= user.name %></td>
                <td><%= user.userid %></td>
                <td><%= user.is_deleted %></td>
                <td><%= link_to "More info", admin_user_path(user) %></td>
              </tr>
          <% end %>
        </tbody>
      </table>

  </div>
</div>
