<div class="container admin_user_index">
  <div class="row justify-content-center">
    <div class="col-md-10 col-sm-10 col-10">
      <table class="table table-bordered table-hover">
        <tbody>
          <% @users.find_each do |user| %>
              <tr>
                <td class="admin_user_index_item"><%= user.id %></td>
                <td class="admin_user_index_item"><%= image_tag user.get_profile_image(100,100), class: "friends_icon" %></td>
                <td class="admin_user_index_item"><%= user.name %></td>
                <td class="admin_user_index_item"><%= user.userid %></td>
                <td class="admin_user_index_item"><%= user.is_deleted %></td>
                <td class="admin_user_index_item"><%= link_to "More info", admin_user_path(user) %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
