<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 sign_in"></div>
    <div class="col-md-6 mt-5 d-flex flex-column align-items-center sign_in_form">
        <h2>Welcome Back!</h2>
        <%= form_with model: @user, url: user_session_path, method: :post do |f| %>
          <div class="row mt-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your Email", class: "sign_in_input_form" %>
          </div>
          <div class="row mt-3">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Your Password", class: "sign_in_input_form" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="row mt-4">
              <div class="col">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              </div>
            </div>
          <% end %>

          <div class="row mt-4">
            <%= button_tag type: 'submit', class: "sign_in_btn" do %>
            Sign in  <i class="fa-solid fa-arrow-right-long"></i>
            <% end %>
          </div>
        <% end %>
        <p>Don't have an account yet? <%= link_to "Sign up", new_user_registration_path %></p>
    </div>
  </div>
</div>


