<!DOCTYPE html>
<html>
  <head>
    <title>MeetCos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'mystyle', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container-fluid">
      <% if user_signed_in? %>
        <%= render 'layouts/header' %>
      <% elsif admin_signed_in? %>
        <%= render 'layouts/ad_header' %>
      <% else %>
        <%= render 'layouts/not_signed_in' %>
      <% end %>
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <footer class="fixed-bottom text-center">
      © 2022 Meet Cos From Kana Karimata<br>
    </footer>
  </body>
</html>
