<!DOCTYPE html>
<html>
  <head>
    <title>MeetCos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <% if user_signed_in? %>
            <%= render 'layouts/sidebar', user: @user %>
          <% elsif admin_signed_in? %>
             <!--<%#= render 'layouts/ad_header' %>-->
          <% else %>
            <!--<%#= render 'layouts/not_signed_in' %>-->
          <% end %>
        </div>
    <%= yield %>
      </div>
    </div>
  </body>
</html>
